.combo-box > .list-cell {
    -fx-background: white;
    -fx-background-color: white;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-background-insets: 0 0 0 0, 0 0 0 0;
    -fx-background-radius: 0, 0, 0, 0;
}

.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-width: 0 1px 1px 1px;
    -fx-border-color: rgba(0, 0, 0, 0.20);
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: -fx-text-base-color;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: rgba(0, 0, 0, 0.05);
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: rgba(0, 0, 0, 0.08);
}

.combo-box-base {
    -fx-border-width: 1px;
    -fx-border-color: rgba(0, 0, 0, 0.20);
    -fx-background-color: white;
}

.combo-box-base:hover {
    -fx-border-color: rgba(0, 0, 0, 0.30);
}

.combo-box-base.has-error {
    -fx-border-color: rgba(255, 0, 0, 0.20);
}

.combo-box-base.has-error:hover {
    -fx-border-color: rgba(255, 0, 0, 0.30);
}
