.menu-bar {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.menu:hover {
    -fx-background-color: rgba(0, 0, 0, 0.30);
}

.menu:showing {
    -fx-background-color: rgba(0, 0, 0, 0.30);
}