#wrapperCompaniesTable {
    -fx-background-image: url("../images/companies.table.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#wrapperVacanciesTable {
    -fx-background-image: url("../images/vacancies.table.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}