#backgroundResumeImagePane {
    -fx-background-image: url("../images/fone/fone0.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}